{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="dashboard-container">
    <div class="header">
        <h1>Panel de Gestión de Usuarios</h1>
        <a href="{% url 'logout' %}" class="logout-btn">Salir</a>
    </div>
    <div class="content">
        <table class="user-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Roles</th>
                <th>Funciones</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <ul>
                            {% for role in user.roles.all %}
                                <li>{{ role.description }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for role in user.roles.all %}
                                {% for function in role.functions.all %}
                                    <li>{{ function.name }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay usuarios disponibles.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
